@font-face {
  font-family: 'calisMTbol';
  src: url('calisMTbol/calisMTbol.eot?#iefix') format('embedded-opentype'),
    url('calisMTbol/calisMTbol.otf')  format('opentype'),
	url('calisMTbol/calisMTbol.woff') format('woff'),
	url('calisMTbol/calisMTbol.ttf')  format('truetype'), 
	url('calisMTbol/calisMTbol.svg#calisMTbol') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Calisto MT';
    src: url('Calis-MTBol/CalisMTBol.eot');
    src: url('Calis-MTBol/CalisMTBol.eot?#iefix') format('embedded-opentype'),
        url('Calis-MTBol/CalisMTBol.woff2') format('woff2'),
        url('Calis-MTBol/CalisMTBol.woff') format('woff'),
        url('Calis-MTBol/CalisMTBol.ttf') format('truetype'),
        url('Calis-MTBol/CalisMTBol.svg#CalisMTBol') format('svg');
    font-weight: bold;
    font-style: normal;
}



@font-face {
  font-family: 'Barlow-Medium';
  src: url('Barlow-Medium/Barlow-Medium.eot?#iefix') format('embedded-opentype'),
    url('Barlow-Medium/Barlow-Medium.otf')  format('opentype'),
	url('Barlow-Medium/Barlow-Medium.woff') format('woff'),
	url('Barlow-Medium/Barlow-Medium.ttf')  format('truetype'), 
	url('Barlow-Medium/Barlow-Medium.svg#Barlow-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Barlow-Bold';
  src: url('Barlow-Bold/Barlow-Bold.eot?#iefix') format('embedded-opentype'),
    url('Barlow-Bold/Barlow-Bold.otf')  format('opentype'),
	url('Barlow-Bold/Barlow-Bold.woff') format('woff'),
	url('Barlow-Bold/Barlow-Bold.ttf')  format('truetype'), 
	url('Barlow-Bold/Barlow-Bold.svg#Barlow-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Barlow-ExtraBold';
  src: url('Barlow-ExtraBold/Barlow-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Barlow-ExtraBold/Barlow-ExtraBold.otf')  format('opentype'),
	url('Barlow-ExtraBold/Barlow-ExtraBold.woff') format('woff'),
	url('Barlow-ExtraBold/Barlow-ExtraBold.ttf')  format('truetype'), 
	url('Barlow-ExtraBold/Barlow-ExtraBold.svg#Barlow-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'BarlowCondensed-Bold';
  src: url('BarlowCondensed-Bold/BarlowCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('BarlowCondensed-Bold/BarlowCondensed-Bold.otf')  format('opentype'),
	url('BarlowCondensed-Bold/BarlowCondensed-Bold.woff') format('woff'),
	url('BarlowCondensed-Bold/BarlowCondensed-Bold.ttf')  format('truetype'), 
	url('BarlowCondensed-Bold/BarlowCondensed-Bold.svg#BarlowCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'BarlowCondensed-Regular';
    src: url('BarlowCondensed-Regular/BarlowCondensed-Regular.eot');
    src: url('BarlowCondensed-Regular/BarlowCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('BarlowCondensed-Regular/BarlowCondensed-Regular.woff2') format('woff2'),
        url('BarlowCondensed-Regular/BarlowCondensed-Regular.woff') format('woff'),
        url('BarlowCondensed-Regular/BarlowCondensed-Regular.ttf') format('truetype'),
        url('BarlowCondensed-Regular/BarlowCondensed-Regular.svg#BarlowCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'OswaldBold';
  src: url('OswaldBold/OswaldBold.eot');
  src: url('OswaldBold/OswaldBold.eot') format('embedded-opentype'),
       url('OswaldBold/OswaldBold.woff2') format('woff2'),
       url('OswaldBold/OswaldBold.woff') format('woff'),
       url('OswaldBold/OswaldBold.ttf') format('truetype'),
       url('OswaldBold/OswaldBold.svg#OswaldBold') format('svg');
       font-weight: 700;
      font-style: normal;
}




























